@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import './abstracts/variables';


// rgba(18, 101, 131, 0.8   <--blue

* {
    margin: 0;
    box-sizing: border-box;
    padding: 15px;
    // background-color: rgba(242, 242, 242, 0.8);
}

h1, h2 {
    font-weight: 400;
}

p {
    font-weight: 200;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    // background-color: rgba(237, 237, 237, 0.8);

}

.header {
    height: 95vh;
    display: flex;
    flex-direction: row;
}

.header__right {
    width: 50%;
    position: relative;
}

.line {
    width: 19rem;
    padding:1px;
    background-color: rgba(113, 231, 246, 0.56);
    display: block;
}

.header__text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}

.header__icon {
    position: absolute;
    bottom: 20px;
    right: 50%;
    opacity: 0;
    animation: iconDown 1s ease-out;
    animation-iteration-count: infinite;
}


.icon {
    font-size: 2rem;
}

.header__left {
    background-image: url('../imgs/simon.jpg');
    width: 50%;
    background-size: cover;
    // clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 100%, 25% 100%, 37% 50%);
    clip-path: polygon(0 0, 100% 0, 100% 59%, 100% 100%, 0 100%, 14% 51%);

}


@keyframes iconDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: translateY(3rem);
    }
}

//ROW
.row {
    width: 100%;
    // margin: 0 auto; why ?
}


#row__intro {
    display: flex;
    // margin-top: -30px;
    // background-image: linear-gradient(
    //     105deg,
    //     rgba(white, .9) 0%,
    //     rgba(224, 220, 222, 0.8) 30%,
    //     transparent 50%)
}


//section about

.codingImg {
    width: 500px;
    filter: grayscale(80%);
}

img {
    border-radius: 5px;
}

.section__intro--title {
    text-align: center;
}

.left {
    width: 50%;
    clip-path: polygon(0 0, 85% 0, 75% 49%, 66% 100%, 0 100%, 0% 50%);
    background-color: rgba(224, 220, 222, 0.8);
}

.right {
    width: 50%;
    text-align: center;

}

.boxes-container {
    display: flex;
    flex-direction: row;
}

//BOXES
.box {

    // background-color: rgba(78, 74, 76, 0.5);
    // background-color: rgba(rgba(59, 59, 59, 0.8), $alpha: .6);
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;
}


//col temporary
// .col-1-of-2 {
//     width: 50%;
//     background-color: pink;
// }



//REACT-ICON

.reactIcon {
    color: RGB(97, 219, 251);
    font-size: 100px;
}

//Angular icon
.angularIcon {
    color: RGB(221, 27, 22);
    font-size: 100px;
}


.sassIcon {
    color: rgba(245, 40, 145, 0.8);
    font-size: 100px;
}


//About section
.section__about {
    text-align: center;
    margin-bottom: 10rem;
}

.section__about--textContainer{
    width: 50%;
}


//change classname
.column {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .column img {
    padding: 0;
    border-radius: 0;
    height: 35%;
    width: 35%;
    position: absolute;
  }


  .column img:hover {
    transform: scale(1.5);
    z-index: 10000;
  }


  .section__about--text {
    margin: 0 auto;
    margin-top: 40%;
    transform: translateY(-50%);
    text-align: left;
  }


  .smileicon {
    padding: 0;
  }


  #aboutRow {
    display: flex;
  }


  .box--2 {
    text-align: center;
  }


.icon {
    color: rgba(96, 93, 83, 0.8);
    // color:rgba(18, 101, 131, 0.8);
    // color: rgba(39, 191, 245, 0.8);
    // WebkitBackgroundClip:'text'
    
}

#projectsRow {
    text-align: center;
    // background-color: rgba(224, 220, 222, 0.8);
    // margin-top: -30px;
    animation: all 5s;
}

.projbutton {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid black;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, black 50%);
    background-size: 230%;
    transition: all .4s;

    &:hover {
        transform: translateY(-2px);
        background-position: 100%;
        color:#fff;
        border: none;
    }

    &:hover span {
        margin-left: 10px;
    }

    &:active {
        transform: translateY(0);
    }
}


.projects__images--container{
    height: auto;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}


.projects__image {
    width: 100%;
    height: 100%;
    margin: 0;

    &--2 {

    }
}




.section__contact {
    background-size: cover;
    background-position: center;
    height:5rem;
    margin-top: -10rem;
}

.contact__form__container{
    display: flex;
    flex-direction: row;
    width: 40rem;
    min-height: 25rem;
    position: absolute;
    left: 50%;
    top: 34%;
    transform: translateX(-50%);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #fff;
}

.blue {
    // background-color: rgba(113, 231, 246, 0.56);
    background-color: rgba(78, 74, 76, 0.5);
    margin: 0 auto;
    z-index:1000;
    height: 12rem;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.white {
    height:12rem;
    background-color: rgba(253, 253, 253, 0.78);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.contact__form {

    &--left {
        width: 30%;
        // background: linear-gradient(to top, rgba(79, 143, 221, 0.78), rgba(124, 177, 243, 0.78));
        background: linear-gradient(to top, rgba(78, 74, 76, 0.5),rgba(253, 253, 253, 0.78));

        border-radius: 12px;  
    }


    &--right {
        width: 70%;
    }

}

.contact__form label {
    display: none;
}

.contact__form input{
   display: inline-block;
   margin: .5rem;
}
//MAKE INPUTS IN SAME LINE.

.card-text {
    font-size: 10px;
}


//SERVICES


#services__row {
    text-align: center;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
}

.services--heading {
    color: #fff;
}

.services {
    display: flex;
    justify-content: space-around;
}

.service__box {
    background-color: rgba(224, 220, 242, .9);
    width: 20%;
    text-align: center;
    border-radius: .2rem;
    margin-top: 5rem;

    &:hover {
        transform: translateY(-10px);
    }

    &--icon {
        color:  rgba(65, 99, 120, 0.8);
        font-size: 3rem;
        margin-bottom: -1rem;
    }

    &--text {
        font-size: 14px;
        font-weight: 300;
    }
}

.aboutme {
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;

    &__text--container {
        height: 90%;
        width: 80%;
        margin: 0 auto;
        overflow-y: auto;
        color:#fff;
        text-align: center;
        padding-bottom: 2rem;

        & p {
            font-size: .7rem;
            font-weight: 200;
        }
    }
}

.aboutme__question {
    display: block;
    color:pink;
    font-size: 1.2rem;
}

.transparentButton {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding: 1px;
    border: none;

    &:hover {
        transform: translateY(5px);
    }
}

.aboutme__span {
    color: pink;
    font-size: 1.5rem;
}

.dontShow {
    display: none;
}

.row {
    min-height: 25rem;
}



//SECTION ABOUT
.section__about--images {
    position: relative;
    width: 50%;
    height:30rem;
    padding: 0;
}


.aboutimg {
    position: absolute;
    width: 50%;
    height: 300px;
    transition: all .2s ease-out;

    &:hover {
        z-index:300;
        scale:1.2;
    }
}

.img--1 {
    left:25%;
    top:6rem;
    z-index:100;
}


.img--2 {
    left:50%;
    top:2rem;
    z-index:50;
}

.img--3 {
    left:0;
    top:2rem;
}
